/* 상품등록 리스트 헤더 */
.list-header {
  height: 40px !important;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.list-header-content {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid #d0d0d0;
}

.list-header div {
  font-size: 14px;
  font-weight: 700;
}

.field-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* align-content: stretch; */
}

.w100p {
  width: 100%;
}

.w2p {
  width: 2%;
}

.w5p {
  width: 5%;
}

.w12-1p {
  width: 8.33333%;
}

.w10-3p {
  width: 16.33333%;
}

.w10p {
  width: 10%;
}

.w15p {
  width: 15%;
}

.w16-6p {
  width: 16.666%;
}

.w20p {
  width: 20%;
}

.w25p {
  width: 25%;
}

.w26-6p {
  width: 26.666%;
}

.w30p {
  width: 30%;
}

.w33p {
  width: 33.33333%;
}

.w35p {
  width: 35%;
}

.w40p {
  width: 40%;
}

.w45p {
  width: 45%;
}

.w50p {
  width: 50%;
}

.w55p {
  width: 55%;
}

.w60p {
  width: 60%;
}

.w70p {
  width: 70%;
}

.w75p {
  width: 75%;
}

.w80p {
  width: 80%;
}
.w85p {
  width: 85%;
}

.w90p {
  width: 90%;
}

.input-desc {
  border: 1px solid #cccccc;
  width: 100%;
  height: 32px;
  padding-left: 8px;
}

.input-textarea {
  height: 114px;
  width: 100%;
  border: 1px solid #cccccc;
  outline: none !important;
  padding: 8px;
  resize: none;
}

.input-desc::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: rgba(0, 0, 0, 0.4);
}
.input-desc:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.4);
}

.input-textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: rgba(0, 0, 0, 0.4);
}
.input-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.4);
}

.btn-add {
  border: 1px solid #000000;
  /* background-color: #dafafa; */
  background-color: #fff;
  padding: 7px 12px;
  cursor: pointer;
  box-sizing: border-box;
}

.bg-blue {
  background-color: #dafafa !important;
}

.btn-add-b {
  border: none;
  background-color: #000000;
  padding: 8px 14px;
  cursor: pointer;
  color: #fff;
}

.list-img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.border-bottom-gray {
  border-bottom: 1px solid #d0d0d0;
}
