.body {
  color: #000;
  width: 85%;
  min-height: 100%;
  float: right;
}

/* nav bar */
.nav_container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 15%;
  height: 100%;
  background-color: #232323;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 0 24px 20px 24px;
  overflow-y: scroll;
  min-width: 240px;
}

.logo_wrapper {
  padding: 30px 0;
  text-align: center;
}

.nav_contents {
  padding: 0 14px 20px 14px;
  color: #fff;
}

.sub-catetory {
  padding: 20px 18px 0px 18px;
}

.sub-catetory > p {
  margin-bottom: 20px;
  cursor: pointer;
}

.sub-category2 {
  padding: 0 0 0px 18px;
}

.sub-catetory2 > p {
  margin-bottom: 20px;
  cursor: pointer;
}

.nav-active {
  color: #fff !important;
  font-weight: 700;
  text-decoration: "underline" !important;
}

.nav-deactive {
  color: #fff !important;
  text-decoration: none !important;
}

/* error page */
.error-body {
  height: calc(100vh - 80px);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* arrow down image */
.img-down-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(256deg) brightness(103%) contrast(101%);
  margin-top: -2px;
}

.img-up-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(256deg) brightness(103%) contrast(101%);
  margin-top: -4px;
  transform: rotate(180deg);
}
