.filter-container {
  border-radius: 8px;
  background-color: #f1f1f1;
  margin-top: 14px;
  padding: 14px 25px;
}

.font-lightgray {
  color: #acacac !important;
}

.border-lightgray {
  border: 1px solid #acacac !important;
}

.check-unable {
  background-color: #ececec !important;
}

.pagination {
}

.pagination > p {
  margin-right: 10px;
  font-size: 15px;
  cursor: pointer;
}

.search-btn {
  width: 100%;
  /* margin-right: 2px; */
  height: 100%;
  border: none;
}

.search-btn-reset {
  width: 100%;
  background-color: #fff;
  height: 100%;
  /* margin-left: 2px; */
  border: 1px solid black;
}
