.tab-container {
  width: 100%;
  height: 38px;
  margin-top: 40px;
  display: flex;
}

.tab-item {
  width: 130px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #232323;
  border-left: 1px solid #232323;
  border-bottom: 1px solid #232323;
  cursor: pointer;
}

.border-bottom-none {
  border-bottom: none;
}

.border-left-black {
  border-left: 1px solid #232323;
}

.border-right-black {
  border-right: 1px solid #232323;
}

.border-bottom-black {
  border-bottom: 1px solid #232323;
}

.bg-gray {
  background-color: #f1f1f1;
}

.text-line {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.rewards-contents {
  border: 1px solid #e4e4e4;
  height: 34px;
  width: 100%;
}

.h100 {
  height: 100%;
}

.reward-input {
  border: none;
  padding: 0 10px;
  width: 100%;
}
